modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
PAYPAL_SANDBOX = "true"
NEXT_PUBLIC_CHATWOOT_URL = "https://app.chatwoot.com"
NEXT_PUBLIC_CHATWOOT_TOKEN = "nodt2qSp9TBKaNx1BihWQxF8"
CHATWOOT_API_TOKEN = "GeATBSkoQUnZmw5LZgoV3fcR"
NEXT_PUBLIC_CHATWOOT_BASE_URL = "https://support.joinbodygood.com"
NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN = "b8SSyLCCAAhZnT6MfxzQuR62"
CHATWOOT_ACCOUNT_ID = "1"
SHOPIFY_DOMAIN = "573c26.myshopify.com"
SHOPIFY_CLIENT_ID = "77c795130c0e48c0c29b5b6b5ba3a6b2"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
